
{% extends 'base.html'%}
{% load static %}

{% block content %}

	<div class="page-content">
		<div class="form-v5-content">
			<form class="form-detail" action="{% url 'login' %}" method="post">
                {%csrf_token%}
				<h2>Login Form</h2>
				<div class="form-row">
					<label for="full-name">Username</label>
                    {{form.username}}
					
				</div>
	
				<div class="form-row">
					<label for="password">Password</label>
                    {{form.password}}
					
				</div>
				<br>
				{{ form.non_field_errors }}
				<div class="form-row-last">
					<input type="submit" name="register" class="register" value="Login">
				</div>
                <div style="text-align: center;">
                    <a class="btn btn-primary" href="{% url 'register'%}" role="button" style="background-color:#3786bd;">Register</a><br><br>
                    <a class="btn btn-primary" href="{% url 'reset_password'%}" role="button" style="background-color:#3786bd;"> Reset Password</a>
                </div>
			</form>
                
                
		</div>
	</div>
{% endblock %}
