
{% extends 'base.html'%}
{% load static %}

{% block content %}

	<div class="page-content">
		<div class="form-v5-content">
			<form class="form-detail" action="" method="POST">
                {%csrf_token%}
				<h2>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</h2>
				<div class="form-row"></div>
                    {{form}}
                    <br>
                    {{ form.non_field_errors }}
                    <input type="submit" name="register" class="register" value="Send email">
				</div>
				
			</form>    
		</div>
	</div>
{% endblock %}
