
{% extends 'base.html'%}
{% load static %}

{% block content %}
	<div class="page-content">
		<div class="form-v5-content">
			<form class="form-detail" method="POST">
				<h2>Please enter your new password twice so we can verify you typed it in correctly.</h2>
				<div class="form-row">
                    {%csrf_token%}
                    {% for field in form %}
                        {{field.label}}<br>
                        {{field}}<br>
                    {% endfor %}
				</div>
                <br>
                {{ form.non_field_errors }}
				<input style="background-color:#3786bd;" type="submit" value="Reset Password"/>
			</form> 
		</div>
	</div>
{% endblock %}
