
{% extends 'base.html'%}
{% load static %}

{% block content %}

	<div class="page-content">
		<div class="form-v5-content">
			<form class="form-detail" method="post">
                {%csrf_token%}
				<h2>Password reset sent</h2>
				<div class="form-row"></div>
                    <p>We've emailed you instructions for setting your password, if an account exists with the email
                        you entered. You should receive them shortly.
                    </p>
                    <p>
                        if you don't receive an email, please make sure you've entered the address you registerd with,
                        and check your spam folder.
                    </p>
				</div>
				
			</form>    
		</div>
	</div>
{% endblock %}
